//---------------------------------------------------------------------------
//------- Fonts
//---------------------------------------------------------------------------

$font-path:                             "../../fonts" !default;
$font-custom:                           'Rubrik', sans-serif !default;
$thin-font:                             100 !default;
$extra-light-font:                      200 !default;
$light-font:	                          300 !default;
$regular-font:	                        400 !default;
$medium-font:	                          500 !default;
$semi-bold-font:	                      600 !default;
$bold-font:		                          700 !default;
$extra-bold-font:                       800 !default;
$black-font:                            900 !default;
$default-text-size:                     16px !default;

//---------------------------------------------------------------------------
//------- General colors
//---------------------------------------------------------------------------

$primary-color:                         #2196F3 !default;
$secondary-color:                       #FF4081 !default;
$text-color:                            #777777 !default;
$link-color:                            #48c6f3 !default;
$white-color:                           #FFFFFF !default;
$black-color:                           #000000 !default;
$dark-color:                            #333333 !default;
$red-color:                             #FF4A4A !default;
$green-color:                           #2EE085 !default;
$light-gray-color:				              #F6F6F6 !default;